<div class="row">
    <div class="medium-9 columns">
        <h2>I am...</h2>
        <h3 class="subheader">Awesome!</h3>
    </div>
    <div class="medium-3 columns">

    </div>
</div>

<div class="row">
    <div class="medium-4 columns">
        <div class="row" data-equalizer>
            <div class="large-12 columns item details">
                <div class="workItemWrapper">
                    <div class="workItem">
                        <p>In the fourth grade, my robotics' teacher told me to build a little robot for the science fair. I finished it in a few hours and called it "Optimus Prime"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="medium-8 columns">
        <div class="row" >
            <div class="large-6 columns ">
                <img src="http://static.tumblr.com/u7rwwlh/nyNm6v1n7/tonyavatar.png" />
            </div>
            <div class="large-6 columns">
                <img src="http://fc06.deviantart.net/fs71/f/2010/365/4/f/rdj__s_tony_stark_by_hallpen-d363emz.jpg" />
            </div>
        </div>
    </div>
</div>
