body{
	
}

a{
	color: #000;}
	a:hover{
		color: #F00;}

header{

}
    header nav li{
        margin-top: 2em;
    }
	.header-end{
        height: 5em;}
        .header-end hr{
            border: none;
            border: solid #ccc 1px;
            }
        #tagLine {
            
        }

	h1{
		
	}