<div class="sub-header row">
    <div class="large-12 columns">
        <div class="row">
            <div class="small-3 large-2 columns">
                <p class="key">2014</p>
                <p class="value">Sept.</p>
            </div>
            <div class="small-2 large-2 columns">
                <p class="key">Type</p>
                <p class="value">INTJ</p>
            </div>
            <div class="small-7 large-8 columns">
                <p class="key">Stuff</p>
                <p class="value"><a href="/Content/Docs/resume.pdf">resume</a>, <a href="http://www.linkedin.com/pub/vivek-pai/9/418/871">linkedin</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="medium-9 columns">
        <h2>I am...</h2>
        <h3 class="subheader">A Carnegie Mellon University Information Systems and Computer Science graduate.</h3>
    </div>
    <div class="medium-3 columns">

    </div>
</div>

<div class="row article-row">
    <div class="medium-4 columns" data-equalizer-watch>
        <div class="row" data-equalizer>
            <div class="large-12 columns item details">
                <div class="workItemWrapper">
                    <div class="workItem">
                        <p>I have worked for various organizations, ranging from a <a href="http://www.broadinstitute.org">genetics institute</a> to a <a href="http://www.intel.com">chip company</a>.</p>
                        <p>I do like being on <a href="http://www.youtube.com/watch?v=eeJJH89chmk">stages</a>, but in my free time, you can find me <a href="http://www.youtube.com/watch?v=3qq5oo7p7ok">at a piano</a>.</p>
                        <p>I am currently pursing my Masters in Human Computer Interaction at CMU.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="medium-8 columns">
        <div class="row" data-equalizer>
            <div class="large-6 columns item details">
                <div class="workItemWrapper">
                    <img src="/Content/Images/profile.jpg" />
                </div>
            </div>
            <div class="large-6 columns item details">
                <div class="workItemWrapper">
                    <img src="/Content/Images/nose.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>
