<div class="sub-header row">
    <div class="large-12 columns">
        <div class="row">
            <div class="small-3 large-2 columns">
                <p class="key">{{SelectedWorkData.Date.StartYear}} <span ng-if="SelectedWorkData.Date.StartYear > 0"> - </span> {{SelectedWorkData.Date.EndYear}}</p>
                <p class="value">{{SelectedWorkData.Date.StartMonth}} <span ng-if="SelectedWorkData.Date.StartMonth"> - </span> {{SelectedWorkData.Date.EndMonth}}</p>
            </div>
            <div class="small-2 large-2 columns">
                <p class="key">Type</p>
                <p class="value">{{SelectedWorkData.WorkType}}</p>
            </div>
            <div class="small-7 large-8 columns">
                <p class="key" ng-show="SelectedWorkData.Highlights">Highlights</p>
                <ul class="inline-list value">
                    <li ng-repeat="highlight in SelectedWorkData.Highlights">{{highlight}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="medium-9 columns">
        <span class="tags"><a ng-repeat="tag in SelectedWorkData.Tags" ng-href="/#/Work/Tag/{{tag}}">{{tag}}</a> </span>
        <h2>{{SelectedWorkData.Title}}</h2>
        <h3 class="subheader">{{SelectedWorkData.Subtitle}}</h3>
    </div>
    <div class="medium-3 columns">

    </div>
</div>

<div class="row article-row" data-equalizer>
    <div class="columns" data-equalizer-watch ng-class="{'medium-4': !SelectedWorkData.EndProductImageURI, 'medium-9':SelectedWorkData.EndProductImageURI}">
        <div class="row" data-equalizer>
            <div class="small-12 medium-8 columns item details" data-equalizer-watch ng-show="SelectedWorkData.EndProductImageURI">
                <div class="workItemWrapper">
                    <div class="workItem">
                        <img ng-src="{{SelectedWorkData.EndProductImageURI}}" />
                    </div>
                </div>
            </div>
            <div class="medium-4 columns item details" data-equalizer-watch ng-class="{'medium-12': !SelectedWorkData.EndProductImageURI}">
                <div class="workItemWrapper">
                    <div class="workItem" ng-hide="SelectedWorkData.WorkType == 'News'">
                        <h4>{{SelectedWorkData.Caption}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hero-row">
            <div class="medium-4 columns item">
                <div class="article-details" ng-show="SelectedWorkData.Methods">
                    <span>Methods:</span>
                    <ul class="inline-list">
                        <li ng-repeat="method in SelectedWorkData.Methods">{{method}}</li>
                    </ul>
                </div>
            </div>
            <div class="medium-4 columns item" >
                <div class="article-details" ng-show="SelectedWorkData.Responsibilities">
                    <span>Responsibilities:</span>
                    <ul class="inline-list">
                        <li ng-repeat="responsibility in SelectedWorkData.Responsibilities">{{responsibility}}</li>
                    </ul>
                </div>
            </div>
            <div class="medium-4 columns item">
                <div class="article-details" ng-show="SelectedWorkData.TeamMates">
                    <span>Team:</span>
                    <ul class="inline-list">
                        <li ng-repeat="member in SelectedWorkData.TeamMates">{{member}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row item details elaboration">
            <div class="workItemWrapper">
                <div class="workItem">
                    <h4 ng-show="SelectedWorkData.Context">Context</h4>
                    <div ng-bind-html="trustHtml(SelectedWorkData.Context)" />
                </div>
            </div>
            <div class="workItemWrapper">
                <div class="workItem">
                    <h4 ng-show="SelectedWorkData.Approach">Approach</h4>
                    <div ng-bind-html="trustHtml(SelectedWorkData.Approach)" />
                </div>
            </div>
            <div class="workItemWrapper">
                <div class="workItem">
                    <h4 ng-show="SelectedWorkData.Process">Process</h4>
                    <div ng-bind-html="trustHtml(SelectedWorkData.Process)" />
                </div>
            </div>
            <div class="workItemWrapper">
                <div class="workItem">
                    <h4 ng-show="SelectedWorkData.Challenges">Challenges</h4>
                    <div ng-bind-html="trustHtml(SelectedWorkData.Challenges)" />
                </div>
            </div>
            <div class="workItemWrapper">
                <div class="workItem">
                    <h4 ng-show="SelectedWorkData.Design">Final Design</h4>
                    <div ng-bind-html="trustHtml(SelectedWorkData.Design)" />
                </div>
            </div>
        </div>
    </div>
    <div class="medium-3 columns" data-equalizer-watch>
        <div class="row">
            <div class="small-12 medium-12 columns item details">
                <div class="workItemWrapper">
                    <div class="workItem">
                        <h4 ng-show="SelectedWorkData.WorkType == 'News'">{{SelectedWorkData.Caption}}</h4>
                        <div ng-show="SelectedWorkData.Details" ng-bind-html="SelectedWorkData.Details"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="SelectedWorkData.Media">
            <div class="small-12 medium-12 columns item" ng-repeat="mediaItem in SelectedWorkData.Media">
                <div class="workItemWrapper">
                    <a ng-if="mediaItem.MediaType == 'Image'" ng-href="{{mediaItem.URI}}" class="fancybox" rel="mediaSet" ng-attr-title="{{mediaItem.Caption}}">
                        <div class="workItem">
                            <span class="label label-media">{{mediaItem.Stage}}</span>
                            <div class="workItem-summary">
                                <img ng-src="{{mediaItem.URI}}" />
                                <p>{{mediaItem.Caption}}</p>
                            </div>
                        </div>
                    </a>

                    <a ng-if="mediaItem.MediaType == 'YouTube'" ng-href="http://www.youtube.com/embed/{{trustSrc(mediaItem.URI)}}" class="fancybox fancybox.iframe" rel="mediaSet" ng-attr-title="{{mediaItem.Caption}}">
                        <div class="workItem">
                            <span class="label label-media">{{mediaItem.Stage}}</span>
                            <div class="workItem-summary">
                                <img ng-src="http://img.youtube.com/vi/{{mediaItem.URI}}/0.jpg" />
                                <p>{{mediaItem.Caption}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="medium-5 columns" ng-show="SelectedWorkData.EndProductImageURI">

    </div>
</div>

<script>
    $(".fancybox").fancybox({
        maxWidth: 800,
        maxHeight: 600,
        fitToView: false,
        width: '70%',
        height: '70%',
        autoSize: false,
        closeClick: false,
        openEffect: 'none',
        closeEffect: 'none',
        helpers: {
            title: {
                type: 'inside'
            }
        }
    });
</script>
