<div class="row">
    <div class="medium-12 columns">
        <div id="container">
            <div class="row">
                <div class="medium-6 columns item" ng-repeat="work in Works">
                    <!--<span class="tags"><a ng-repeat="tag in linkItem.tags" ng-href="/#/Work/Tag/{{tag}}">{{tag}}</a> </span>-->
                    <a ng-href="/#/Portfolio/{{work.URI}}">
                        <h2>{{work.Title}}</h2>
                        <img ng-src="{{work.IndexImage}}" ng-show="work.IndexImage" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
